.ecard, .carousel-inner {
  width: 100%;
  border: 1px solid black;
  height: 350px;
  /* border-sizing: border-box;*/
}

#myCarousel {
  width: 100%;
  height: 350px;
}


#greetingBox {
	position: absolute;
	width: 50%;
	height: 10%;
	z-index: 100;
	border: 2px dotted black;
	left: 50px;
	top: 45px;
	opacity: 0.5;
}

#greetingText {
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	text-decoration-color: #FFFFFF;
}

.thumbnail {
  display: inline-block;
  width: 25%;
}
